*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #0F103F;
    --color-secodary:#1c1c65;
    --color-secondary-1: #2f2f8a;
    --color-secondary-2: #c961de;
    --color-secondary-3: #2954a3;
    --color-white:#FFFFFF;
    --color-black:#000;
    --color-grey0:#f8f8f8;
    --color-grey-1:#dbe1e8;
    --color-grey-2:#b2becd;
    --color-grey-3:#6c7983;
    --color-grey-4:#caa5d1;
    --color-grey-5:#2a2e35;
    --color-grey-6:#12181b;
    // --bg-image:url("data:images/img3.png")
}

body{
    font-family: verdana, tahoma, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    gap: 50px;
}
header a{
    text-decoration: none;
    color: var(--color-secondary-2);
    padding-top: 20px;
}
main  #banner img{
    width: 150px;
    height: 150px;
    margin-left: -10px;
}

#home #presentation .title{
    width: 100%;
    padding: 130px 80px;
    color: var(--color-secondary-2);
    font-size: 35px;
    text-align: left;
}
#home #presentation .but{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 70%;
    gap: 15px;
    margin: auto;

}
#home #presentation .but a{
    text-decoration: none;
    border-radius: 100px;
    padding:12px 0px;
    width: 180px;
    text-align: center;
    color: var(--color-white);

}
#home #presentation .but a:nth-child(1){
    background: linear-gradient(123deg,var(--color-secondary-2), var(--color-secondary-1));
    
}
#home #presentation .but a:nth-child(2){
    background: var(--color-grey-4);
    
}
#home #presentation {
    flex: 1.5;
    align-items: center;
    justify-content: center;
    z-index: 1;

}
#home .image {
    flex: 1;
    box-sizing: border-box;
    // overflow: hidden;
    position: relative;
    left: -140px;
    top: -70px;
    // background: #000;
    // background: #000;
}
#home .image img{
    width: 120%;
}

#home {
    display: flex;
}
#about {
    // padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;

    // margin: 50px;
}

#about .about-me{
    background: linear-gradient(123deg,var(--color-secondary-2), var(--color-secondary-1));
    border-radius: 100px;
    margin: 0 auto;
    width: 70%;
    padding: 0px;
}

.about-me .text{
    float: right;
    width: 60%;
    padding: 24px;
    text-align: justify;
    background: inherit;
    color: var(--color-white);
    border-radius: 0px 100px 100px 0px;
    margin-top: 30px;
}

.about-me .photo{
    float: left;
    width: 40%;
    background: inherit;
    border-radius: 100px 0px 00px 100px;
    // padding: -30px;
    box-sizing: border-box;
    overflow: hidden;
}
.photo img{
    // object-fit: contain;
    // object-position: center;
    width: 100%;

}
#service {
    position: relative;
    top: 250px;
    margin-top: 50px;
    padding-top: 40px;
    // background: #000;
}